{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>You can sign up / sign in with one of your existing third-party accounts.</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers list-inline">
    {% load socialaccount %}

    {% get_providers as socialaccount_providers %}

    {% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
    <li class="list-inline-item">
      <a title="{{brand.name}}"
         class="socialaccount_provider {{provider.id}} {{brand.id}}"
         href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
         ></a>
    </li>
    {% endfor %}
    {% endif %}
    <li class="list-inline-item">
      <a title="{{provider.name}}" class="socialaccount_provider btn btn-block btn-social btn-{% filter lower %}{{provider.name}}{% endfilter %}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <span class="fa fa-{% filter lower %}{{provider.name}}{% endfilter %}"></span> Sign in with {{provider.name}}
      </a>
    </li>
    {% endfor %}
  </ul>

</div>

{% include "socialaccount/snippets/login_extra.html" %}
<p>{% blocktrans %}Don't have any of those accounts? <a href="{{ signup_url }}">Create a rovercode account.</a>{% endblocktrans %}</p>

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<p>{% blocktrans %}Already have a rovercode account? Sign in here:{% endblocktrans %}</p>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}

