# Rover config
DEFAULT_ROVER_CONFIG='{"left_eye_port": 1, "right_eye_port": 2, "left_motor_port": 3, "right_motor_port": 4}'

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_DB=postgresuser
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_USE_AWS_SSL=false

# Distributed Memory
REDIS_URL=redis://my-redis.xxxxx.xx.xxxx.use2.cache.amazonaws.com:6379

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=sv*jhhu5z79xa@=t_cq#gnm)yyz64a@nwtdc9b%2x1c@^6py1l
DJANGO_ALLOWED_HOSTS=.rovercode.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=

# Other services
PROFANITY_CHECK_SERVICE_HOST=http://profanity-server.aws.com:80



