[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "~=2.1.1"
pylint-django = "~=2.0.2"
prospector = "==1.1.6.2"
coverage = "~=4.5.1"
django-coverage-plugin = "~=1.6.0"
django-extensions = "~=2.1.0"
django-test-plus = "~=1.1.0"
django-debug-toolbar = "~=1.11"
ipdb = "~=0.11"
pytest-django = "~=3.4.5"
pytest-sugar = "~=0.9.1"
pytest-cov = "~=2.5.1"
pytest-asyncio = "~=0.10.0"
Sphinx = "~=1.7.5"
Werkzeug = "~=0.14.1"
factory_boy = "~=2.11.1"
sphinx-autobuild = "~=0.7.1"
sphinx-rtd-theme = "~=0.4.0"

[packages]
django-environ = "~=0.4.4"
whitenoise = "~=3.3.1"
django-braces = "~=1.13.0"
django-crispy-forms = "~=1.7.2"
django-model-utils = "~=3.1.2"
django-allauth = "~=0.39.0"
psycopg2 = "~=2.7.4"
awesome-slugify = "~=1.6.5"
pytz = "~=2018.4"
django-redis = "~=4.10.0"
redis = "~=2.10.6"
djangorestframework = "~=3.9.0"
django-filter = "~=2.1.0"
django-oauth-toolkit = "~=1.2.0"
gevent = "~=1.3.2"
gunicorn = "~=19.8.1"
daphne = "~=2.2.2"
boto = "~=2.48.0"
django-storages-redux = "~=1.3.3"
django-anymail = "~=2.2"
raven = "~=6.8.0"
Django = "~=2.2"
django-rest-auth = "~=0.9.3"
djangorestframework-jwt = "~=1.11.0"
coreapi = "~=2.3.3"
markdown = "~=2.6.11"
channels = "~=2.1.3"
channels_redis = "~=2.3.0"
autobahn = "~=19.5.0"
