.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.navbar {
  border-radius: 0px; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }

  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

.navbar li {
  color: #000; }

.welcome-message {
  font-size: 2rem; }

.jumbotron {
  margin-top: -150px;
  background: url("../images/traslasierra.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh + 80px); }

.card {
  background-color: white;
  border: 1px solid rgba(100,118,135,1);
  border-color: #E7E7E7;
  box-shadow: 2px 2px 5px #cccccc;
  border-radius: 0;
}

.btn-primary {
  background-color: #d80073;
  border-color: #f472d0;
}

.btn-primary:hover {
  background-color: #6a00ff;
  border-color: #0050af;
}

body {
  background-color: rgba(100,118,135,0.05);
  color: #373737;
  font-size: 18px;
}

.display-1 {
  font-size: 5.063rem;
}

@media screen and (max-width: 480px) {
  .display-1 {
    font-size: 4.6rem;
  }
}

@media screen and (min-width: 480px) {
  .display-1 {
    font-size: 5.063rem;
  }
}

h1 {
  font-size: 5.063rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.nice-underlines a {
  text-shadow: 0.03em 0 #ffffff, -0.03em 0 #ffffff, 0 0.03em #ffffff, 0 -0.03em #ffffff, 0.06em 0 #ffffff, -0.06em 0 #ffffff, 0.09em 0 #ffffff, -0.09em 0 #ffffff, 0.12em 0 #ffffff, -0.12em 0 #ffffff, 0.15em 0 #ffffff, -0.15em 0 #ffffff;
  background-image: linear-gradient(#008a00, #008a00);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
  color: #008a00;
  text-decoration: none; }
  .nice-underlines a::selection {
    text-shadow: 0.03em 0 #CBF, -0.03em 0 #CBF, 0 0.03em #CBF, 0 -0.03em #CBF, 0.06em 0 #CBF, -0.06em 0 #CBF, 0.09em 0 #CBF, -0.09em 0 #CBF, 0.12em 0 #CBF, -0.12em 0 #CBF, 0.15em 0 #CBF, -0.15em 0 #CBF;
    background: #CBF; }
  .nice-underlines a::-moz-selection {
    text-shadow: 0.03em 0 #CBF, -0.03em 0 #CBF, 0 0.03em #CBF, 0 -0.03em #CBF, 0.06em 0 #CBF, -0.06em 0 #CBF, 0.09em 0 #CBF, -0.09em 0 #CBF, 0.12em 0 #CBF, -0.12em 0 #CBF, 0.15em 0 #CBF, -0.15em 0 #CBF;
    background: #CBF; }
  .nice-underlines a *,
  .nice-underlines a *:after, .nice-underlines a:after,
  .nice-underlines a *:before, .nice-underlines a:before {
    text-shadow: none; }
  .nice-underlines a:visited {
    color: #008a00; }

li a {
  text-decoration: none;
  color: #373737; }

#js-rotating {
  text-decoration: none;
  color: #aa00ff; }

[hidden][style="display: block;"] {
  display: block !important; }

/*# sourceMappingURL=project.css.map */
