table {
  height: 100%;
  width: 100%;
  border: none;
}

.navbar {
  max-height: 43px;
}

.nav-link {
  color: white;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 100%;
  margin-top: -6px;
}

.nav-link:hover {
  color: white;
}

.nav-link:visited {
  color: white;
}

.dropdown-menu a {
  color: #373a3c;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 100%;
}

.code-control-button-container {
  margin-left: 0 !important;
}

.code-control-button {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

#main-title {
  font-family: 'Faster One', cursive;
  color: #eee;
  font-size: 2rem;
  margin-left: 8px;
  margin-right: 20px;
  margin-top: -15px;
}

#tableArea {
  margin-top: 43px;
  position:absolute;
  top:0;
  left:0;
  height: calc(99% - 45px);
  width: 100%;
}

#blocklyArea {
  height: 100%;
}

#consoleArea {
  display: fixed;
  margin-top: -20px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #FFF;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 0 0 0;
}

#consoleArea p:nth-child(odd) {
  background: #fce9fc;
}

#consoleArea p {
  margin: 0 0 0 0;
  font-size: 90%;
}

#videoBackground {
  background-color: white;
  background-size: contain;
  text-align: center;
  color: #888;
  width: 320px;
}

.well {
  box-shadow: inset 0 0 5px #555;
}

.indicator {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background-color: #BBBBBB;
}

::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em
}
::-webkit-scrollbar-button {
  height: 0;
}
::-webkit-scrollbar-track-piece {
  background: #FFF;
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 10px;
}
