{% extends "base.html" %}


{% block jumbotron %}
  <div class="jumbotron">
    <div class="row text-xs-center nice-underlines" style="padding-top: 100px;">
      <div class="col-6">
        <div class="card" style="background:#bed0cd">
          <div class="card-block">
            <div class="welcome-message">
              <a href="#">Build your C.H.I.P rover</a>, and then <a href="#">launch mission control</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock jumbotron %}
