{% extends "base.html" %}

{% block content %}
<div class="row nice-underlines" style="margin-bottom: 4em">
  <div class="col-md-12">
    <h1>rovercode blog</h1>
    {% if request.user.is_staff %}
      <p class="small">
        <a href="{% url 'blog:post_new'%}">new post</a>
        <a href="{% url 'blog:post_drafts_list'%}">drafts</a>
      </p>
    {% endif %}
  </div>
</div>
<div class="row nice-underlines">
  <div class="col-md-12">
      {% for post in post_list %}
        <div style="margin-bottom:2em">
          <h2><a href="{% url 'blog:post_detail' slug=post.slug %}"> {{ post.title }}</a></h2>
          <p> {{ post.lead | safe }} </p>
          <p class="text-muted"> posted by {{ user.get_full_name | default:user.username }} on {{ post.published_date | date }} </p>
          {% if request.user.is_staff %}
            <p class="small"><a href="{% url 'blog:post_edit' slug=post.slug %}">edit</a></h2>
          {% endif %}
        </div>
      {% endfor %}
  </div>
</div>

{% endblock content %}
