{% extends "base.html" %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <style>
    .col-form-label {
      text-align: right;
    }
  </style>
{% endblock css %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        {% csrf_token %}
        <div class="form-group row">
          {{ form.as_p }}
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script>
  $(document).ready(function() {
    $("input[id=id_name]").attr("disabled", true)
  });
  </script>
{% endblock javascript %}
