{% extends "base.html" %}

{% block css %}
  {{ block.super }}
  <style>
    #lead p {
        font-weight: bold;
        font-style: italic;
    }
    #post-content {
        margin-top: 4em;
    }
  </style>
{% endblock css %}

{% block content %}
<div class="row nice-underlines">
  <div class="col-md-12">
    <h1>{{ post.title }}</h1>
    {% if request.user.is_staff %}
      <p class="small"><a href="{% url 'blog:post_edit' slug=post.slug %}">edit</a></h2>
    {% endif %}
  </div>
</div>
<div class="row nice-underlines" id="attribution">
  <div class="col-md-12">
    <p class="text-muted">posted by {{ user.get_full_name | default:user.username }} on {{ post.published_date | date}} </p>
  </div>
</div>
<div class="row nice-underlines">
  <div class="col-md-12">
    <span id="lead">{{ post.lead | safe}}</span>
  </div>
</div>
<div class="row nice-underlines" id="post-content">
  <div class="col-md-12">
    <span>{{ post.content | safe}}</span>
  </div>
</div>

{% endblock content %}
